.top-info {
  display: flex;
  padding: 1rem .75rem;
  border-bottom: 1px solid #eee;
  img {
    width: 4rem;
    height: 4rem;
    border: none;
  }
  .info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-content: space-between;
    justify-content: space-between;
    padding: 0 .5rem;
  }
  .title {
    font-size: .9rem;
  }
}