.recommend {
  
  .banner {
    img {
      width: 100%;
      height: 8rem;
    }
  }
  
  h2 { color: #343434;
    margin: .5rem;
    text-align: center;
  }
  
  .rec-wrap{
    padding-left: .5rem;
    li a {
      display: flex;
      align-items: center;
      background: #fff;
      margin-bottom: .5rem;
      img {
        width: 3rem;
        height: 3rem;
        margin-right: .5rem;
        display: inline-block;
      }
      div {
        overflow: hidden;
      }
      p {
        margin: .3rem 0 .2rem;
      }
      span {
        color: #999;
        display: block;
        margin-bottom: .3rem;
      }
    }
  }
}