.singer-page {
  .singer-type-list {
    overflow: scroll;
  }
  .key {
    font-size: .75rem;
    background: #eee;
    padding: 0.3rem .75rem;
    line-height:.8rem;
  }
  .singer-list {
    padding: .5rem 0;
    li a {
      display: flex;
      align-items: center;
      padding: .5rem 1rem;
    }
    img {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      border: none;
      margin-right: .5rem;
    }
  }

  .tag-box{
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    right: 0;
    background: rgba(200,200,200,.4);
    padding: 1rem 0;
    border-radius: 3rem;
  }

  .tag-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    li {
      font-size: .7rem;
    }
  }
}