@charset "UTF-8";

.styleguide,.styleguide *
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.clearfix:after,.clearfix:before
{
    content: " ";
    display: table;
}
.clearfix:after
{
    clear: both;
}
.rt {
    position: relative;
}
.ab {
    position: absolute;
}
.tar {
    text-align: right;
}
.ft12 {
    font-size: .6rem;
}
.bold {
    font-weight: bold;
}
.-vcenter:before
{
    content: "";
    display: inline-block;
    height: 100%;
    margin-right: -4px;
    vertical-align: middle;
}
.text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.-hcenter
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.none {
    display: none;
}
.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
.row
{
    display: -webkit-box!important;
    display: -webkit-flex!important;
    -webkit-align-items: center;
    -webkit-box-align: center;
    width: 100%;
}
.-align-top.btn-group,.-align-top.flex-row,.row.-align-top
{
    -webkit-align-items: flex-start;
    -webkit-box-align: start;
}

.fl{ float: left;}
.fr{ float: right;}

.iconfont { display: flex; flex-direction: column;
    align-items:center;
    justify-content: center; }

.icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(../images/icons.png) no-repeat;
    background-size: 32px auto;
}
.icon.prev {
    background-position: 0 0;
}
.icon.next {
    background-position: 0 -32px;
}
.icon.pause {
    background-position: 0 -64px;
}
.icon.play {
    background-position: 0 -96px;
}
.icon.repeat-once {
    background-position: 0 -128px;
}
.icon.repeat-cycle {
    background-position: 0 -160px;
}
.icon.repeat-random {
    background-position: 0 -192px;
}
.icon-volume {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/icons.png) no-repeat;
    background-size: 16px auto;    
    background-position: 0 -112px;
}

body, #root, #root>div, .parent-box, .wh{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
#content {
    position: absolute;
    top: 2.2rem;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: scroll;
}

.dn { display: none; }
.db { display: block; }
.dib { display: inline-block; }
.hidden { opacity: 0; transition: .1s;}
.show { opacity: 1; transition: .1s;}
.ell { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.loading { padding: 3rem 0; font-size: .8rem; width: 100%; color: #999; text-align: center; position: absolute; top: 0; left: 0; z-index: -1;}

.process-bar~#content { bottom: 2.6rem;}
.page-header~#content { top: 4.2rem;}

.filter {
    -webkit-filter: blur(10px); /* Chrome, Opera */
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false);
    overflow: hidden;
}
